#tl_listing{
  .tl_content{
    .tl_content_right{
      margin-top: 10px;
      padding-right: 5px;
    }
  }
}

.strong{
  font-weight: 500;
  font-style: normal;
}

#tl_navigation .tl_level_1_group .group-lawyerclientportal,
#tl_navigation .menu_level_0 .group-lawyerclientportal{
  background: url(../icons/balance_unbalance.png) 0 0 no-repeat transparent;
}
.tl_listing_container{
  .case_record{
    padding: .5em;
    line-height: 1.8em;

    strong, .strong{
      font-weight: 500;
      font-style: normal;
    }

    a{
      color:#00A0BA;
      text-decoration: underline;
    }

    &.published{
      font-weight: 700;
      border-left: 5px solid green;
      background-color: #e4f0e5;
    }

    &.deleted{
      color: #999;
      border-left: 5px solid red;
      background-color: #f0e8e8;
    }
  }
}

/**
Icon
 */
a.case_records{
  padding:0 .5em;
}

.hint-text{
  color:#9fa4a8;
  font-size: .9em;
}

.tl_listing {

  td.col_subject {
    max-width: 300px;
    line-height: 1.4em;
  }
}

/**
* ReadMessage-Popup
*/
.read-message{
  margin: 2em;
  table{
    width: 100%;

    tr{
      line-height: 1.4em;
      border-bottom: 1px solid #ddd;

      td{
        padding: 1em;
        vertical-align: top;
        &.title{
          font-weight: 500;
          width: 100px;
        }
      }

      a{
        color:#00A0BA;
        line-height: 1.7em;
        text-decoration: underline;
      }
    }
  }
}
.lcp_messages{
  padding: 15px 0;
  margin-bottom: 15px;
  border-bottom: 1px solid #e6e6e8;

  h3{
    margin-bottom: 1em;
  }

  .info{
    margin: 1em 0;
    padding: 5px 10px;
    background-color: #f9f5d9;
  }
}
.tl_lcp{
  th{
    background: #f6f6f8;
    padding: 6px;
    border-top: 1px solid #e9e9e9;
  }
  th, td{
    border-bottom: 1px solid #e9e9e9;
  }
  td{
    padding: 4px 6px;
    line-height: 1.6em;

    &.col_subject{
      max-width: 400px;
    }
  }
}
.popup{
  #main{
    .content{
      position: relative;

      .print_popup{
        position: absolute;
        right:2em;
      }
    }
  }
}

@media print{
  .print_popup{
    display:none;
  }
}